@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);
* {
    font-family:"Helvetica Neue", "Helvetica", "Roboto", "Century Gothic", "Gotham", "Trebuchet MS", sans-serif;
}
h1,h2,h3 {
    font-weight: bold;
}
input {
    text-transform:uppercase;
}
html {
    background-color:#E5E5E5;
}
.t {
    font-size:0;
}
